[submodule "rerelease"]
	path = rerelease
	url = https://github.com/id-Software/quake-rerelease-qc.git
[submodule "ad"]
	path = ad
	url = https://github.com/SimsOCallaghan/ArcaneDimensions.git
[submodule "copper"]
	path = copper
	url = https://github.com/itslunaranyo/copper.git
[submodule "alkaline"]
	path = alkaline
	url = https://github.com/fabiolimamp/alkaline.git
[submodule "progs_dump"]
	path = progs_dump
	url = https://github.com/dumptruckDS/progs_dump_qc.git
[submodule "smp"]
	path = smp
	url = https://github.com/quake-mapping-community/smp.git
